.search-form {
  padding: 180px 50px;
  text-align: center;
  color: black;
  text-shadow: 3px 3px 4px white;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  background-image: url("/src/styles/parkedcars.jpg");
  /* background-size: contain; */
  background-size: cover;

  @media (max-width: 767px) {
    font-size: 14px;
  }
  @media (max-width: 400px) {
    font-size: 12px;
  }
}

.search-input {
  width: 500px;
  padding: 5px;
  margin: 15px;
  border-radius: 3px;
  border: 3px solid #1a244f;

  @media (max-width: 767px) {
    width: 400px;
  }
  @media (max-width: 400px) {
    width: 300px;
  }
}

.search-button {
  padding: 5px 20px;
  background-color: #1a244f;
  color: white;
  border: 1px solid #1a244f;
  border-radius: 10px;
  font-style: italic;
  font-weight: bold;
}

.search-button:hover {
  background-color: white;
  color: #1a244f;
}

.offer-list {
  margin: 30px;
  text-align: center;
  background-color: rgba(240, 248, 76, 0.6);
  border-radius: 25px;

  @media (max-width: 767px) {
    text-align: center;
    font-size: 12px;
  }
  @media (max-width: 400px) {
    text-align: center;
    font-size: 10px;
  }
}

.offer-list:hover {
  background-color: rgba(240, 248, 76, 0.8);
}

.booking-button {
  padding: 8px 20px;
  background-color: green;
  color: white;
  border: 1px solid green;
  border-radius: 10px;
  font-style: italic;

  @media (max-width: 767px) {
    font-size: 12px;
  }
  @media (max-width: 400px) {
    font-size: 10px;
  }
}

.booking-button:hover {
  background-color: white;
  color: green;
}

.leaflet-container {
  display: block;
  margin: 0 auto;
  width: 250px;
  height: 200px;
  border: 1px solid grey;

  @media (max-width: 767px) {
    width: 150px;
    height: 100px;
  }
  @media (max-width: 400px) {
    width: 100px;
    height: 50px;
  }
}

.register-form {
  background-color: #1a244f;
  padding: 50px 50px;
  color: white;
}

.registration-form {
  font-weight: bold;
  padding: 50px;
}

.form-group {
  margin: 15px;
}

.offer-registration-button {
  padding: 8px 20px;
  background-color: green;
  color: white;
  border: 1px solid green;
  border-radius: 10px;
  font-style: italic;
  margin: 15px;
}

.offer-registration-button:hover {
  background-color: white;
  color: green;
}

.confirmation-page {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  color: green;
  font-weight: bold;
  font-size: 20px;
}

.no-matches {
  /* display: flex; */
  text-align: center;
  justify-content: center;
  margin-top: 50px;
  color: red;
  font-weight: bold;
  font-size: 20px;
  padding: 30px 30px;
}

li {
  list-style-type: none;
  list-style: none;
}
