.search-form {
  margin: 50px 50px;
  text-align: center;
}

.search-input {
  width: 500px;
  margin: 15px;
}

.offer-list {
  margin: 50px;
  text-align: center;
}

.leaflet-container {
  display: block;
  margin: 0 auto;
  width: 250px;
  height: 200px;
  border: 1px solid grey;
}
