.App {
  text-align: center;
}
.footer {
  /* position: fixed; */
  bottom: 0;
  width: 100%;
  background-color: #0a0a0a34;
  color: #0f1012;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
}

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;

  text-align: center;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}
.slogan {
  font-style: italic;
}
.my-paragraph {
  font-size: 18px;
}
.title2 {
  font-style: italic;
}
.login {
  text-align: center;
}
.signup {
  text-align: center;
}

.userform {
  text-align: center;
}
h2 {
  text-align: center;
}
h1 {
  text-align: center;
}
.credit-card-form {
  max-width: 400px;
  margin: 0 auto;
  border: 1px solid #ccc;
  padding: 20px;
}

.credit-card-form h3 {
  margin-top: 0;
}

.credit-card-form .form-group {
  margin-bottom: 10px;
}

.credit-card-form label {
  display: block;
  margin-bottom: 5px;
}

.credit-card-form input[type="text"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.credit-card-form button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  border: none;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}
.booking-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px;
}

.booking-detail {
  margin: 12px;
  text-align: center;
}

.book-button {
  padding: 8px 20px;
  background-color: green;
  color: white;
  border: 1px solid green;
  border-radius: 10px;
  font-style: italic;
}
.cancel_button {
  padding: 8px 20px;
  background-color: rgb(224, 33, 33);
  color: white;
  border: 1px solid rgb(233, 63, 29);
  border-radius: 10px;
  font-style: italic;
}
.cancel_button:hover {
  background-color: #f73e34e5;
  cursor: pointer;
}
.book-button:hover {
  background-color: #ccc;
  cursor: pointer;
}
.Heading {
  background-color: #1a244f;
  color: whitesmoke;
  padding: 3rem;
}

.listedSpots {
  border-radius: 10px;
  margin: 1.5rem;
  background-color: #b8733342;
}
.bookedSpots {
  border-radius: 10px;
  margin: 1.5rem;
  background-color: #ffd900ab;
}
.BookingDetails {
  padding: 50px 50px;
  text-align: center;
  background-color: rgb(41, 41, 168);
  color: white;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.booking-container {
  margin: 30px;
  text-align: center;
  background-color: rgba(240, 248, 76, 0.6);
  border-radius: 25px;
}
.footer {
  justify-content: space-between;
  align-items: center;
  background-color: #dbdada;
  padding: 20px;
  align-items: center;
  color: hsl(210, 1%, 33%);
}

.contact-info p:first-of-type {
  font-size: 30px;
  font-weight: bold;
}

.social-media a {
  font-size: 30px;
  margin-right: 10px;
  color: hsl(210, 1%, 33%);
}

.credits p {
  font-size: 20px;
  font-weight: bold;
}

